div > a:active, div > .activated {
  text-decoration: none; }

nav > a:hover, nav > .activated {
  border-bottom: 3px ridge green; }

.gallery img:focus, .gallery .activated {
  opacity: 0.7; }

.activated {
  color: #aaff00; }
